node_modules/
.next/
build/
dist/
.env.local
.env.*.local
*.pem
*.pfx
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.idea/
.vscode/
.history
tsconfig.tsbuildinfo
